.card {
    width: 50%;
    min-width: 300px;
    height: 100px;
    background-color: var(--grey-background-color);
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 2px #928888;
}

.title {
    font-weight: 600;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 1em;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}